form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.input {
    width: 15rem;
    background-color: #ECF0F1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}